@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --bright-magenta: hsl(300, 93%, 56%);
}

body {
    font-family: 'Open-sans', sans-serif;
    background: url('images/bg-mobile.svg') no-repeat;
    background-size: contain;
    background-color: var(--violet);
}

.logo {
    display: inline-block;
    width: 130px;
    margin-top: 1em;
}

.container {
    max-width: 350px;
    margin: 0 auto;
    padding: 0 1em;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.illustration {
    width: 100%;
    margin-top: 3.8em;
}

.content {
    text-align: center;
    color: #fff;
    margin-bottom: 3em;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.description {
    font-weight: 300;
    margin: 1em 0 1.3em;
    line-height: 1.5;
}

button {
    padding: 12px;
    border: none;
    border-radius: 30px;
    width: 200px;
    background-color: #fff;
    color: var(--violet);
}

button:hover {
    background-color: var(--soft-magenta);
    color: #fff;
    cursor: pointer;
}

footer {
    text-align: center;
}

.socials {
    text-decoration: none;
    list-style-type: none;
}

.socials li {
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 0 .3em;
}

.socials i {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    color: #fff;
}

.socials li:last-child i {
    font-size: 1.2rem;
}

.socials li:hover {
    cursor: pointer;
    border-color: var(--bright-magenta);
}

.socials li:hover i {
    color: var(--bright-magenta);

}

.attribution {
    font-size: 11px;
    text-align: center;
    color: #fff;
    margin-top: 1em;
}

.attribution a {
    color: hsl(300, 100%, 71%);
}

@media only screen and (min-width: 575px) {
    .container {
        max-width: 450px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 600px;

    }
}

@media only screen and (min-width: 1024px) {

    html {
        width: 100%;
        min-height: 100%;
    }

    body {
        background-image: url('images/bg-desktop.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .container {
        max-width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    main {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .logo {
        width: 180px;
    }

    .illustration {
        max-width: 55%;
        margin-top: 4em;
    }

    .content {
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 45%;
        max-width: 440px;
    }

    h1 {
        font-size: 2.2rem;
    }

    .description {
        font-size: 15.5px;
    }

    footer {
        text-align: right;
    }

    .socials li {
        width: 35px;
        height: 35px;
    }

    .socials i {
        font-size: 1rem;
    }

    .socials li:last-child i {
        font-size: 1.2rem;
    }

    button {
        width: 160px;
        padding: 15px;
        font-size: .9rem;
    }

}